html {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url("/img/BreadImg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

#footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#f5f5f5;
  background:rgb(20, 144, 158);
  padding:8px;
}

#navigation {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  background:rgb(20, 144, 158);
  height: 60px;
}

#homepage {
  position: fixed;
  left: 15%;
  padding: 1%;
  margin-top: 1%;
  margin-bottom: .5%;
}

#vendors-list {
  position: fixed;
  right: 15%;
  padding: 1%;
  margin-top: 1%;
  margin-bottom: 0.5%;
}

#homepage a, #vendors-list a {
  color:#f5f5f5;
}

.render-body {
  margin-top: 15%;
}

.home-body {
  margin-top: 30%;
}

.well {
  background-color: #f5f5f5b0;
  border: 2px solid rgb(20, 144, 158);
}

.fake-button {
  margin-top: 2%;
  border: 1px solid #f5f5f5;
  background-color: rgb(20, 144, 158);
  padding: 2px;
  width: 50%;
  margin-left: 25%;
}

.fake-button a {
  color: #f5f5f5;
  font-size: 2em;
}

.fake-button:hover {
  background-color: #b46702;
  border: 1px solid #b46702;
  color: #f5f5f5;
}

.fake-button:hover a {
  color: #f5f5f5;
  text-decoration: none;
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 5em;
  color: rgb(20, 144, 158);
  text-align: center;
  margin-bottom: 2%;
}

.btn {
  color: #f5f5f5;
  background-color: rgb(20, 144, 158);
  border: 1px solid rgb(20, 144, 158);
}

.btn:hover {
  color: #f5f5f5;
  background-color: #b46702;
  border: 1px solid #b46702;
}

ol li, ul li {
  margin-left: 20%;
  font-size: x-large;
  list-style-type: circle;
  color: #b46702;
}

ol li a, ul li a {
  color: #b46702;
}

button#delete-vendor, button#delete-order {
  width: 50%;
  margin-left: 25%;
  border: 1px solid #f5f5f5;
}

button#delete-vendor:hover, button#delete-order:hover {
  border: 1px solid #b46702;
}

label {
  color: #b46702;
  font-size: large;
}

h4 {
  color: #b46702;
}

.well p {
  margin-top: 2%;
  text-align: center;
}