<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pierre's Bakery</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body>
    <div class="container">
      <h1>Welcome to Pierre's Bakery Order Tracker!</h1>
      <h4><a href="/vendors">View all vendors</a></h4>
      @Html.Partial("Footer")
    </div>
  </body>
</html>
