<h1>Add a vendor here:</h1>
<form action="/vendors" method="post">
  <label for="vendorName">Name of Vendor:</label>
  <input name="vendorName" id="vendorName" type="text" required>
  <label for="description">Description:</label>
  <input name="description" id="description" type="text" required>
  <button type="submit">Add Vendor</button>
</form>

<p><a href="/">Return to homepage</a></p>
<p><a href="/vendors">Return to vendors</a></p>