<div class="well">
  <h1>@Model["order"].Title for @Model["vendor"].Name</h1>
  <ul>
    <li>Order date: @Model["order"].Date</li>
    <li>Price: $@Model["order"].Price</li>
    <li>Description: @Model["order"].Description</li>
  </ul>
</div>